.todoContainer {
  width: 40%;
  min-width: 450px;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 30px 40px;
}
.newTodoTask {
  position: relative;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
}
.newTodoTask input {
  width: 70%;
  width: 70%;
  height: 45px;
  font-size: 15px;
  border: 2px solid #d1d3d4;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}
.newTodoTask input:focus {
  outline: none;
  border-color: #3525D3;
}

.newTodoTask .addButton {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  background-color: #3525D3;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
.todoTasks {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 60px;
  border-radius: 10px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  width: 100%;
  position: relative;
}
.todoTask {
  background-color: #ffffff;
  height: 50px;
  padding: 5px 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #d1d3d4;
  cursor: pointer;
}
.todoTask .todoTaskName {
  font-size: 15px;
  font-weight: 400;
}
.todoTask .deleteIcon {
  background-color: #3525D3;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none;
}
