.bookContainer {
  z-index: 1;
  perspective: 3000px;
  width: 100%;
}

.bookContainer .bookCard {
  position: relative;
  display: block;
  width: 400px;
  height: 550px;
  margin: 20px;
  border-radius: 2px 4px 4px 2px;
  -webkit-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  -moz-box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  box-shadow: 13px 13px 8px 0px rgba(151, 146, 153, 0.6);
  font-weight: 400;
  color: #2b2b2b;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
}

.bookContainer .bookCard:hover {
  -webkit-transform: rotate3d(0, 1, 0, 35deg);
  -moz-transform: rotate3d(0, 1, 0, 35deg);
  transform: rotate3d(0, 1, 0, 35deg);
}

.bookContainer .bookCard > div,
.bookContainer .bookCardFront > div {
  display: block;
  position: absolute;
}

.bookContainer .bookCardFront {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  -moz-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 0, 20px);
  -moz-transform: translate3d(0, 0, 20px);
  transform: translate3d(0, 0, 20px);
  z-index: 10;
}

.bookContainer .bookCardFront > div {
  width: 400px;
  height: 550px;
}

.bookContainer .bookCardLeftSide {
  width: 40px;
  left: -20px;
  height: 550px;
  -webkit-transform: rotate3d(0, 1, 0, -90deg);
  -moz-transform: rotate3d(0, 1, 0, -90deg);
  transform: rotate3d(0, 1, 0, -90deg);
}

.bookDate {
  font-weight: 400;
  position: absolute;
  top: 493px;
  left: 45px;
  opacity: 0.8;
}

.bookContainer .bookCardFront > div {
  border-radius: 0 3px 3px 0;
  box-shadow: inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bookContainer .bookCardFront:after {
  content: "";
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.bookContainer .bookCardCover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bookContainer h2 {
  width: 500px;
  height: 40px;
  color: #2b2b2b;
  font-size: 15px;
  line-height: 40px;
  padding-right: 10px;
  text-align: right;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px);
  -moz-transform: rotate(90deg) translateY(-40px);
  transform: rotate(90deg) translateY(-40px);
}

.bookCardCover {
  background-size: 400px 550px;
}

.bookCardLeftSide h2 span:first-child {
  padding-right: 20px;
}

.bookCardLeftSide h2 span:last-child {
  font-weight: 400;
  font-size: 13px;
}

.bookTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 880px) {
  .bookContainer .bookCard {
    margin: 5% auto;
  }
}
