.createDiary {
  background-color: #3525d3;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #3525d3;
}

.logOutBtn {
  background-color: #fff;
  color: rgb(255, 0, 0);
  padding: 10px 20px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

#mybutton {
  position: fixed;
  bottom: -4px;
  right: 10px;
}

#logOut {
  position: fixed;
  top: -4px;
  right: 10px;
  border: none;
}
